{% extends 'layout.twig' %}

{% block content %}
<div class="row justify-content-center">
	<div class="col text-center">
		<h2>Staples price < 0.10$ low:</h2>
	<div class="form-group">
	<textarea class="form-control" cols="30" rows="30">{{ wantlist }}</textarea>
	<button type="button" class="btn btn-dark form-control">Copy to clipboard !</button>
	</div>
</div>
{% endblock %}
